:root {
  background-color: green;
  border: 5px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: inherit;
  font-size: inherit;
}
.container {
  h2 {
    font-size: 30px;
    border-bottom: 5px solid black;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 25px;
    border-bottom: 5px dotted black;
    margin-bottom: 15px;
  }
  h4 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  h5 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 15px;
  }
  p:has(a) {
    text-decoration: underline;
    :hover {
      background-color: lightgreen;
    }
  }
  :last-child {
    margin-bottom: 0;
  }
}